@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

#notification-pop-up {
    position: fixed;
    top: 10%;
    right: 0.5%;
    z-index: 1000;
    margin-right: 10px;
}

#notification-pop-up b {
    margin-left: 2px;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background-color: #80808057;

}

.sc-bXdtCk {
    z-index: -1000;

    margin-left: 35%;
    margin-top: 15%;
}

.common-ag-grid {
    width: 100% !important;
    height: 750px !important;
}

.ag-cell-value-center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.ag-header-cell-label-center,
.ag-header-cell-label {
    text-overflow: ellipsis;
    display: flex !important;
    justify-content: center !important;
}

.basic-single {
    z-index: 1000;
}

.select__menu{
    
}
